.filterContainer {
    background-color: #fff;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;

    @media only screen and (max-width: 700px) {
        margin-right: 0px;
    }

    .filterSection {
        padding: 0px 5px;
    }
    
    .filterSection p {
        font-size: 16px;
        padding-bottom: 5px;
        border-bottom: 1px solid #aaa;
        margin: 0px 20px 5px;
    }
    
    .buttonWrapper {
        padding: 10px 0px;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
}

