.row {
    display: flex;
}

.tileWrapperContainer .columnContainer {
    padding: 0px 5px 13px;
}


@media only screen and (min-width: 1024px) {
    .tileWrapperContainer .columnContainer {
        display: flex;
    }
}